[Unit]
Description=smartdns server
After=network.target 

[Service]
Type=simple
PIDFile=/run/smartdns.pid
ExecStart=/usr/bin/smartdns -f -c /etc/smartdns.conf
Restart=always

[Install]
WantedBy=multi-user.target
Alias=smartdns.service
