[Unit]
Description=smartdns server
After=network.target
Before=ssr.service v2ray.service docker.service

[Service]
Type=simple
PIDFile=/run/smartdns.pid
ExecStart=/usr/bin/smartdns -f -c /etc/smartdns.conf
Restart=always

[Install]
WantedBy=multi-user.target
