[Unit]
Description=ssr deamon
After=rc-local.service

[Service]
Type=simple
WorkingDirectory=/root/ssr
ExecStart=/usr/bin/python3 server.py
Restart=always
LimitNOFILE=512000
# 柔性限制
MemoryHigh=85%
# 刚性限制
# MemoryMax=25%
[Install]
WantedBy=multi-user.target
