[Unit]
Description=ssr deamon
After=rc-local.service

[Service]
Type=simple
WorkingDirectory=/root/ssr
ExecStart=/usr/bin/python3 server.py
Restart=on-failure
LimitNOFILE=512000
# 柔性限制
# MemoryHigh=512M
# 刚性限制
# MemoryMax=700M
[Install]
WantedBy=multi-user.target
