[Unit]
Description=SSR deamon
After=rc-local.service

[Service]
Type=simple
PIDFile=/var/run/ssr.pid
ExecStart=/usr/bin/python3 /root/ssr/server.py
Restart=always
LimitNOFILE=512000
# 柔性限制
# MemoryHigh=95%
# 刚性限制
# MemoryMax=25%
[Install]
WantedBy=multi-user.target
