[Unit]
Description=state deamon
After=rc-local.service

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/root/ssr
ExecStart=/usr/bin/python3 state.py
Restart=on-failure
[Install]
WantedBy=multi-user.target
